.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/

TranScouter_paper/
figures/**/output/
figures/**/.cache/
figures/**/.mplconfig/

data/**/*.h5ad
data/**/*.pkl
data/**/*.pickle
data/**/*.pt
data/mcfaline/raw/*.csv

results/**/*.h5ad
results/**/*.pkl
results/**/*.pickle
results/**/*.pt

!data/README.md
